<html>
<head>   
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="font-family:Arial">
<table>
<tr>
    <td ><img src="http://191.98.187.194:7081/Hermes/images/logo-hermes.png" style="height: 66px; width: 207px" /></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td colspan="2">
        Por el presente, le Enviamos su contraseña de acceso a nuestro Sistema
    </td>
</tr>
</table>

<table>
<tr>
<td ><b>Usuario:</b></td>
<td>[usuario]</td><td>&nbsp;</td>
</tr>
<tr>
<td ><b>Contraseña:</b></td>
<td>[clave]</td><td>&nbsp;</td>
</tr>
</table>

<table>
<tr>
</tr>
<tr>
<td>
Atentamente,
</td>
</tr>
<tr><td>Hermes Seguros</td></tr>
<tr><td>Manco Segundo 2699 - Lima 14</td></tr>
<tr><td>consultas@hermes.pe</td></tr>
<tr><td>T (01)421-4115 </td></tr>
</table>
</body>
</html>